.head_title td{text-align:center;}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.btn_reject_withdrawal{
	background-color: #dd2f2f;
    border: navajowhite;
    padding: 5px 15px;
    color: #FFF;
    border-radius: 50px;
	font-weight:700;
	cursor:pointer;
	margin: 0 10px;
}
.btn_accept_withdrawal{
	background-color: #33cc33;
    border: navajowhite;
    padding: 5px 15px;
    color: #FFF;
    border-radius: 50px;
	font-weight:700;
	cursor:pointer;
	margin: 0 10px;
}